<div id="discoverpage">
  <h1>Discover</h1>

  <form>
    <input name="nameofEvent" class="searching" placeholder="Name of Event" ng-model="eventName"></input>
    <input name="nameofCity" class="searching" placeholder="Name of City" ng-model="city"></input>
    <input type="date" ng-model="date"></input>
    <button type="submit">Search</button>
  </form>

  <h3 class="featured">Featured Events</h3>

  <div class="eventcard">
    <!--<img src="../img/ebsample.jpg">-->
    <h3>Event name</h3>
    <p>Event description</p>
    <button>Add to Trip</button>
  </div>
</div>